/*Campo canhoto*/
.campo.recebemos {
    width: 16.1cm;
    height: 0.85cm;
}
.campo.numero-nfe {
    width: 4.5cm;
    height: 1.7cm;
}
.campo.data-recebimento {
    width: 4.1cm;
    height: 0.85cm;
}
.campo.assinatura {
    width: 12.1cm;
    height: 0.85cm;
}

/*Campo dados da NF-e*/
.campo.quadro-identificacao-emitente {
    width: 10cm;
    height: 3.92cm;
}
.campo.quadro-descricao-danfe {
    width: 2.54cm;
    height: 3.92cm;
}
.campo.quadro-codigo-de-barras-da-chave {
    width: 8cm;
    height: 1.48cm;
}
.campo.codigo-de-barras-da-chave {
    width: 11.5cm;
    height: 1cm;
}
.campo.chave-de-acesso {
    width: 12.7cm;
    height: 0.85cm;
}
.campo.natureza-de-operacao {
    width: 7.87cm;
    height: 0.85cm;
}
.campo.inscricao-estadual-emitente {
    width: 6.86cm;
    height: 0.85cm;
}
.campo.inscricao-estadual-st-emitente {
    width: 6.86cm;
    height: 0.85cm;
}
.campo.cnpj-emitente {
    width: 6.86cm;
    height: 0.85cm;
}

/*Campo destinatário*/
.campo.razao-social {
    width: 12.32cm;
    height: 0.85cm;
}
.campo.cnpj-destinatario {
    width: 5.33cm;
    height: 0.85cm;
}
.campo.data-emissao {
    width: 2.92cm;
    height: 0.85cm;
}
.campo.endereco-destinatario {
    width: 10.16cm;
    height: 0.85cm;
}
.campo.bairro-destinatario {
    width: 4.83cm;
    height: 0.85cm;
}
.campo.cep-destinatario {
    width: 2.67cm;
    height: 0.85cm;
}
.campo.data-entrada-destinatario {
    width: 2.92cm;
    height: 0.85cm;
}
.campo.municipio-destinatario {
    width: 7.11cm;
    height: 0.85cm;
}
.campo.fone-fax-destinatario {
    width: 4.06cm;
    height: 0.85cm;
}
.campo.uf-destinatario {
    width: 1.14cm;
    height: 0.85cm;
}
.campo.inscricao-destinatario {
    width: 5.33cm;
    height: 0.85cm;
}
.campo.hora-entrada-saida {
    width: 2.92cm;
    height: 0.85cm;
}

/*Campo transportador/Volumes transportados*/
.campo.razao-social-transportador {
    width: 9.02cm;
    height: 0.85cm;
}
.campo.frete-por-conta-transportador {
    width: 2.79cm;
    height: 0.85cm;
}
.campo.codigo-antt-transportador {
    width: 1.78cm;
    height: 0.85cm;
}
.campo.placa-veiculo-transportador {
    width: 2.29cm;
    height: 0.85cm;
}
.campo.uf-placa-transportador {
    width: 0.76cm;
    height: 0.85cm;
}
.campo.cnpj-transportador {
    width: 3.94cm;
    height: 0.85cm;
}
.campo.endereco-transportador {
    width: 9.02cm;
    height: 0.85cm;
}
.campo.municipio-transportador {
    width: 6.86cm;
    height: 0.85cm;
}
.campo.uf-transportador {
    width: 0.76cm;
    height: 0.85cm;
}
.campo.inscricao-transportador {
    width: 3.94cm;
    height: 0.85cm;
}
.campo.quantidade-transportador {
    width: 2.92cm;
    height: 0.85cm;
}
.campo.especie-transportador {
    width: 3.05cm;
    height: 0.85cm;
}
.campo.marca-transportador {
    width: 3.05cm;
    height: 0.85cm;
}
.campo.numero-transportador {
    width: 4.83cm;
    height: 0.85cm;
}
.campo.peso-bruto-transportador {
    width: 3.43cm;
    height: 0.85cm;
}
.campo.peso-liquido-transportador {
    width: 3.3cm;
    height: 0.85cm;
}

/*Campo de cálculo do imposto*/
.campo.base-calculo-icms {
    width: 4.06cm;
    height: 0.85cm;
}
.campo.valor-do-icms {
    width: 4.06cm;
    height: 0.85cm;
}
.campo.base-de-cálculo-do-icms-st {
    width: 4.06cm;
    height: 0.85cm;
}
.campo.valor-do-icms-st {
    width: 4.06cm;
    height: 0.85cm;
}
.campo.valor-total-dos-produtos {
    width: 4.32cm;
    height: 0.85cm;
}
.campo.valor-do-frete {
    width: 3.3cm;
    height: 0.85cm;
}
.campo.valor-do-seguro {
    width: 3.3cm;
    height: 0.85cm;
}
.campo.desconto {
    width: 3.3cm;
    height: 0.85cm;
}
.campo.outras-despesas-acessórias {
  width: 3.3cm;
  height: 0.85cm;
}
.campo.valor-do-ipi {
    width: 3.3cm;
    height: 0.85cm;
}
.campo.valor-total-da-nota {
    width: 4.06cm;
    height: 0.85cm;
}

.campo.dados-Produto {
  width: 20.57cm;
  height: 6.77cm;
}

/*Campo dados adicionais*/
.campo.dados-adicionais {
    width: 12.95cm;
    height: 3.07cm;
}

/*Campo reservado ao fisco*/
.campo.reservado-fisco {
    width: 7.62cm;
    height: 3.07cm;
}
