p{
    font-size: 40px;
    font-family: 'Comic Sans MS'
}
.especial{
    font-size: 20px;
}

.conteudo {
  font-size: 9pt;
}
.conteudo.fonte-5-pontos {
  font-size: 5pt;
}
.conteudo.fonte-7-pontos {
  font-size: 7pt;
}
.conteudo.centralizado {
  margin: 0;
  text-align: center;
}
.conteudo.negrito {
  font-weight: bold;
}
