body {
    background-color: #fff;
}

.page {
    margin: -8px;
    margin-top: 8px;
    padding: 0;
    background-color: #fff;
    width: 210mm;
    height: 297mm;
    display: block;
    page-break-after: always;
    overflow-y: no-display;
}

.page:first-of-type{
    margin-top: -2mm;
}

.page:last-of-type {
    page-break-after: auto;
}
