<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NFeAutorizacao4Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="NFeAutorizacao4Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://nfe.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao4.asmx"
                binding="basicHttpBinding" bindingConfiguration="NFeAutorizacao4Soap"
                contract="AutorizacaoSVRS.NFeAutorizacao4Soap" name="NFeAutorizacao4Soap" />
        </client>
    </system.serviceModel>
</configuration>
